@model CRUD_ASP.net.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.TypeReceipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.TypeReceipt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.ReceiptNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.ReceiptNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.DateEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.DateEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt.AmountTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receipt.AmountTotal)
        </dd>
    </dl>

    <table class="table mt-2">
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody id="detailsBody">
            <!-- Aquí se agregarán dinámicamente los detalles -->
            @foreach (var item in Model.ReceiptDetails)
            {
                <tr>
                    <td>@item.Product_name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Receipt.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
